.outOfSeason {
  background-color: orange;
  color: white;
  padding: 0 20px;
  position: absolute;
  top: 0px;
  left: 350px;
  transform: rotate(90deg);
  width: 200px;
  transform-origin: 0 0;
  clip-path: polygon(100% 0, 95% 47%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
}

.discount {
  background-color: yellowgreen;
  position: absolute;
  color: white;
  top: 0px;
  font-weight: 700;
  padding: 10px;
  box-sizing: border-box;
  left: 303px;
}
/* .inSeason {
  position: absolute;
  top: 0px;
  left: 320px;
  transform: rotate(90deg);

  transform-origin: 0 0;
  background-color: #64bd69;
  clip-path: polygon(100% 0, 95% 47%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
  padding: 0 5px;
  width: 200px;
  color: white;
} */
